<header>
    <nav>
        <div class="left__header">
            <img src="assets/images/logo.png" alt="logo">
            <div class="search__box">
                <input type="text" placeholder="search"/>
                <div class="search-icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
            <div class="breadcrumb">
                <a href="#">Production</a>
                <a href="#">Dying</a>
                <a href="#">Receipes</a>
                <a href="#">Cow</a>
            </div>
        </div>
        <div class="right__header">
            <img src="assets/images/logo2.png" alt="logo1">
        </div>
    </nav>
</header>