<aside>
    <ul>
        <li>
            <a class="main__link" href="#">
                <i class="fa-solid fa-user"></i>
                <span class="link__name">Dashboard</span>
            </a>
        </li>
        <li>
            <a class="main__link border-bottom" href="#">
                <i class="fa-solid fa-bell"></i>
                <span class="link__name">Notifications</span>
            </a>
            <ul class="sub-menu border-bottom">
                <li>
                    <a class="sub__link" href="#">
                        <i class="fa-solid fa-bell-slash"></i>
                        <span class="link__name notification">Notification 1</span>
                    </a>
                </li>
                <li>
                    <a class="sub__link" href="#">
                        <i class="fa-solid fa-bell-slash"></i>
                        <span class="link__name notification">Notification 2</span>
                    </a>
                </li>
                <li>
                    <a class="sub__link" href="#">
                        <i class="fa-solid fa-bell-slash"></i>
                        <span class="link__name notification">Notification 3</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a class="main__link" href="#">
                <i class="fa-solid fa-house-user"></i>
                <span class="link__name">Home</span>
            </a>
        </li>
        <li>
            <a class="main__link border-bottom" href="#">
                <i class="fa-solid fa-gear"></i>
                <span class="link__name">Production</span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a class="sub__link" href="#">
                        <i></i>
                        <span class="link__name">Dying</span>
                    </a>
                </li>
                <li>
                    <a class="sub__link" href="#">
                        <i></i>
                        <span class="link__name">Finishing</span>
                    </a>
                </li>
                <li>
                    <a class="sub__link" href="#">
                        <i></i>
                        <span class="link__name">Crusting</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a class="main__link" href="#">
                <i class="fa-solid fa-database"></i>
                <span class="link__name">Reports</span>
            </a>
        </li>
        <li>
            <a class="main__link" href="#">
                <i class="fa-solid fa-brain"></i>
                <span class="link__name">Planning</span>
            </a>
        </li>
        <li class="border-bottom">
            <a class="main__link" href="#">
                <i class="fa-solid fa-coins"></i>
                <span class="link__name">Finances</span>
            </a>
        </li>
        <li>
            <a class="main__link" href="#">
                <i class="fa-solid fa-angle-down"></i>
                <span class="link__name">See More</span>
            </a>
        </li>
    </ul>
</aside>