<app-header></app-header>
<div class="main__content">
    <app-sidebar></app-sidebar>
    <main>
        <div class="tasks">
            <h3 class="card__title">Tasks</h3>
            <mat-tab-group>
                <mat-tab label="Daily">
                    <div class="card__body">
                        <div class="card">Daily Task 1</div>
                        <div class="card">Daily Task 2</div>
                    </div>
                </mat-tab>
                <mat-tab label="Pending">
                    <div class="card__body">
                        <div class="card">Pending Tasks 1</div>
                        <div class="card">Pending tasks 2</div>
                    </div>
                </mat-tab>
                <mat-tab label="Monthly">
                    <div class="card__body">
                        <div class="card">Monthly Tasks 1</div>
                        <div class="card">Monthly Tasks 2</div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
        <div class="more__details">
            <div class="trends">
                <h3 class="card__title">Trends</h3>
                <div class="card__body">
                </div>
            </div>
            <div class="efficiency">
                <h3 class="card__title">Efficiency</h3>
                <div class="card__body">
                </div>
            </div>
        </div>
    </main>
</div>
<app-footer></app-footer>